<% layout('../layouts/infoBoilerplate')
   %>

    <div class="container info-main-box">
        <h1>Customized Achievement</h1>
        <form action="/mappe.com/customized"
              method="post">
            <div class="row my-5">
                <div class="col">
                    <label for="acadescription">Academic Achievement</label>
                    <textarea class="form-control"
                              id="acadescription"
                              name="acadescription"
                              rows="3"
                              placeholder="Fill your academic Achievement here"></textarea>
                </div>
            </div>

            <div class="row my-5">
                <div class="col">
                    <label for="codescription">Co-ordinator Achievement</label>
                    <textarea class="form-control"
                              id="codescription"
                              name="codescription"
                              rows="3"
                              placeholder="Fill your Co-ordinator Achievement here"></textarea>

                </div>
            </div>

            <div class="row my-5">
                <div class="col">
                    <label for="culdescription">Cultural Achievement</label>
                    <textarea class="form-control"
                              id="culdescription"
                              name="culdescription"
                              rows="3"
                              placeholder="Fill your Cultural Achievement here"></textarea>

                </div>
            </div>

            <div class="row my-5">
                <div class="col">
                    <label for="spodescription">Sports Achievement</label>
                    <textarea class="form-control"
                              id="spodescription"
                              name="spodescription"
                              rows="3"
                              placeholder="Fill your Sports Achievement here"></textarea>
                </div>
            </div>

            <button class="btn btn-primary my-2">Next ></button>

        </form>
    </div>