<% layout('../layouts/infoBoilerplate')
   %>

    <div class="container">
        <div class="row"
             style="margin-top: 3cm;">
            <div class="col-3 offset-3">
                <div class="card"
                     style="width: 18rem;">
                    <img src="https://image.shutterstock.com/image-vector/african-american-female-user-customize-260nw-1981283711.jpg"
                         class="card-img-top"
                         alt="...">
                    <div class="card-body">
                        <h5 class="card-title  text-center">Customized</h5>
                        <p class="card-text">Whatever the user types in that will be displayed on the portfolio.</p>
                        <a href="http://localhost:3000/mappe.com/customized-ach"
                           class="btn btn-secondary" style="margin-left:2.2cm;">Try now!!</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card"
                     style="width: 18rem;">
                    <img src="https://image.shutterstock.com/image-vector/cartoon-man-front-computer-system-260nw-2065331765.jpg"
                         class="card-img-top"
                         alt="...">
                    <div class="card-body">
                        <h5 class="card-title text-center">Non - Customized</h5>
                        <p class="card-text">Based on template design user can fill out the data.</p>
                        <a href="http://localhost:3000/mappe.com/non-customized-ach" style="margin-left:2.2cm;"
                           class="btn btn-secondary">Try now!!</a>
                    </div>
                </div>
            </div>
        </div>

    </div>