<% layout('../layouts/infoBoilerplate')
   %>

    <div class="container">
        <h2>Skills Details</h2>
        <form action="/mappe.com/skills"
              method="post">
            <div class="row my-3">
                <div class="col">
                    <label for="skill1"
                           class="form-label">Skill 1 : </label>
                    <input type="text"
                           class="form-control"
                           name="skill1"
                           id="skill1"
                           placeholder="Enter your Skill name">
                </div>

                <div class="col">
                    <label for="rating1"
                           class="form-label">Rating : </label>
                    <input type="number"
                           class="form-control"
                           name="rating1"
                           min="1"
                           max="5"
                           id="rating1"
                           placeholder="Enter your Rating  out of 5">
                </div>

            </div>
            <div class="row my-3">
                <div class="col">
                    <label for="skill2"
                           class="form-label">Skill 2 : </label>
                    <input type="text"
                           class="form-control"
                           name="skill2"
                           id="skill2"
                           placeholder="Enter your Skill name">
                </div>

                <div class="col">
                    <label for="rating2"
                           class="form-label">Rating : </label>
                    <input type="number"
                           class="form-control"
                           min="1"
                           max="5"
                           name="rating2"
                           id="rating2"
                           placeholder="Enter your Rating  out of 5">
                </div>
            </div>

            <div class="row my-3">
                <div class="col">
                    <label for="skill3"
                           class="form-label">Skill 3 : </label>
                    <input type="text"
                           class="form-control"
                           name="skill3"
                           id="skill3"
                           placeholder="Enter your Skill name">
                </div>

                <div class="col">
                    <label for="rating3"
                           class="form-label">Rating : </label>
                    <input type="number"
                           class="form-control"
                           name="rating3"
                           id="rating3"
                           min="1"
                           max="5"
                           placeholder="Enter your Rating  out of 5">
                </div>
            </div>



            <div class="row my-3">
                <div class="col">
                    <label for="skill4"
                           class="form-label">Skill 4 : </label>
                    <input type="text"
                           class="form-control"
                           name="skill4"
                           id="skill4"
                           placeholder="Enter your Skill name">
                </div>

                <div class="col">
                    <label for="rating4"
                           class="form-label">Rating : </label>
                    <input type="number"
                           class="form-control"
                           name="rating4"
                           min="1"
                           max="5"
                           id="rating4"
                           placeholder="Enter your Rating  out of 5">
                </div>
            </div>

            <div class="row my-3">
                <div class="col">
                    <label for="skill5"
                           class="form-label">Skill 5 : </label>
                    <input type="text"
                           class="form-control"
                           name="skill5"
                           id="skill5"
                           placeholder="Enter your Skill name">
                </div>

                <div class="col">
                    <label for="rating5"
                           class="form-label">Rating : </label>
                    <input type="number"
                           class="form-control"
                           name="rating5"
                           id="rating5"
                           min="1"
                           max="5"
                           placeholder="Enter your Rating  out of 5">
                </div>
            </div>

            <div class="row my-3">
                <div class="col">
                    <label for="skill6"
                           class="form-label">Skill 6 : </label>
                    <input type="text"
                           class="form-control"
                           name="skill6"
                           id="skill6"
                           placeholder="Enter your Skill name">
                </div>

                <div class="col">
                    <label for="rating6"
                           class="form-label">Rating : </label>
                    <input type="number"
                           class="form-control"
                           min="1"
                           max="5"
                           name="rating6"
                           id="rating6"
                           placeholder="Enter your Rating  out of 5">
                </div>
            </div>

            <button class="btn btn-primary">Next > </button>
        </form>
    </div>